header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.594), rgba(0, 0, 0, 0.594), transparent);
}

.logo{
    background-color: white;
    border-radius: 50px;
    filter: contrast(3) brightness(.9);
}

.opciones a{
    border: 1px solid rgba(255, 255, 255, 0.195);
    padding: 4px 10px;
    border-radius: 50px;
}

.opciones a:hover{
    border: 1px solid rgba(255, 255, 255, 0.473);
}

.fondo-principal{
    z-index: 10;
}

.overlay, .overlay-img{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.818);
    z-index: 5;
}

.overlay-img{
    z-index: 0;
}
